@page
@model ElectricStationMap.Areas.Identity.Pages.Account.LockoutModel
@{

}

<div class="alert alert-danger" role="alert">
	К сожалению, данная учётная запись была заблокирована. 
	<p></p>

	Срок истечения блокировки - @Model.LockoutEnd 
</div>