@page
@model ElectricStationMap.Areas.Identity.Pages.Account.ResetPasswordByEmailModel
@{
	ViewData["Title"] = "Сброс пароля";
}

<div class="card">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<h1>@ViewData["Title"]</h1>
			<section>
				<form id="account" asp-method="post" asp-route-email="@Model.Email" asp-route-code="@Model.Code">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" class="form-control" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>

					<p></p>

					<div class="form-group">
						<label asp-for="Input.RepeatingPassword"></label>
						<input asp-for="Input.RepeatingPassword" class="form-control" />
						<span asp-validation-for="Input.RepeatingPassword" class="text-danger"></span>
					</div>
					<p></p>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Обновить пароль</button>
					</div>
				</form>
				<p></p>
				<p></p>
			</section>
		</div>
	</div>
</div>

