@page
@model ElectricStationMap.Areas.Identity.Pages.Account.TwoFactorAuthenticationModel
@{
	ViewData["Title"] = "Вход";

	<div class="card">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<h1>@ViewData["Title"]</h1>
				<section>
					<form id="account" asp-method="post" asp-route-returnUrl="@Model.ReturnUrl">
						Код подтверждения выслан на электронную почту, введите его здесь
						<div asp-validation-summary="All" class="text-danger"></div>
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						<div class="form-group">
							<input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" placeholder="Код" />
							<span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
						</div>
						<p></p>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">Войти</button>
						</div>
						<p></p>
					</form>
				</section>
			</div>
		</div>
	</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
